/* You can add global styles to this file, and also import other style files */
.active {
  font-size: larger;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
